.title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin: 20px;
}

  
.card {
  width: 200px;
  text-align: center;
  background-color: #90e0ef;
  border-radius: 8px;
  overflow: hidden;
}

.animation-info {
  margin-right: 50px;
  margin-top: 30px;
}

