<div class="title">Learn Angular Animation</div>


<br><br><br><br><br>

<div class="center-h">
  <div class="animation-info width-150">open/close trigger -> </div>
  <div 
    class="card">
      <div (click)="toggle()" style="cursor: pointer;" class="p-20">
        animated box with open/close animation
      </div>
      <div 
        [@openClose]="isOpen ? 'open': 'closed'">
          <hr> 
          <div class="p-20">
            The animation brought the story to life, with characters leaping off the screen in vivid detail. Each frame was a masterpiece, capturing the magic and emotion of every scene.
          </div>
      </div>
  </div>
</div>

<br><br><br><br><br>

<div class="center-h">
  <div class="animation-info width-150">existance void state trigger -> </div>
  <div 
    class="card">
      <div (click)="togglePresence()" style="cursor: pointer;" class="p-20">
        animated box with presence/absence element in dom animation
      </div>
      <div 
        @presence *ngIf="isPresent">
          <hr> 
          <div class="p-20">
            The animation brought the story to life, with characters leaping off the screen in vivid detail. Each frame was a masterpiece, capturing the magic and emotion of every scene.
          </div>
      </div>
  </div>
</div>

<br><br>