/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  --primary-color: #219ebc;
  --secondary-color: #023047;
  --font-family: 'Instrument Sans';
  --text-selection-background-color: #caf0f8;
  --text-selection-color: #03045e;
}


body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0px 10px;
}


::selection {
  background-color: var(--text-selection-background-color);
  color: var(--text-selection-color);
}

.center-h {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


